@{
    ViewBag.Title = "CONTACT US";
}

@{Html.RenderAction("WebsiteMenu", "menu", new { menuSliderPartialView = "_MenuSlider2Partial", partialView = "_MenuContact-UsPartial", showSlider = true });}

<div class="content">
    <div class="empty-box"></div>
    <div class="bottomBox">
        <div class="bottomBoxShadow">
            <div class="squareTopleft"></div>
            <div class="shadowTop"></div>
            <div class="squareTopRight"></div>
        </div>
        <!--text title --> 
        <div class="textBox">
            <div class="textBoxOne">
                <div class="textBoxOneb">ADDRESS</div>                      
            </div>

            <div class="textBoxTwo">
                <div class="textBoxTwoa">PW PHONES</div>               
            </div>

            <div class="textBoxThird">
                <div class="textBoxThirda">E-MAILS</div>          
            </div>      
        </div>
        <div class="horizontal"></div>
        <div class="bottomBoxEntry">
            <div class="bottomBoxEntryOne">
                <div class="bottomBoxEntryOnea"></div>
                <div class="entrybox-third-format-left">
                    <a href="https://goo.gl/maps/jA2XirkP1jhaMkgy9" title="PaymentWorld" target="_blank">
                    2955 E Main St. Ste. 100<br />
                    Irvine, CA 92614
                    </a>                                        
                </div>                
            </div>            
            <div class="bottomBoxEntryTwo">            
                <div class="toll-free-box">                
                    <div class="toll-free-box-a">
                        <div class="toll-free-a">Toll free: 1 (855) 282-6510</div>
                                 
                    </div>
                    <div class="toll-free-box-aa">
                        <div class="fax-box-a">PW FAXES</div>
                        <div class="toll-free-aa">General fax: 1 (877) 429-7809</div>
                        
                    </div>
                   
                </div>              
               
            </div>
            <div class="bottomBoxEntryThird">
                <div class="entrybox-four-format-right">
                    Sales: <br /><a href="mailto:sales@paymentworld.com">sales@paymentworld.com</a><br /><br /><br />
                    Information: <br /><a href="mailto:info@paymentworld.com">info@paymentworld.com</a>
                </div>
                <div class="bottomBoxEntryThirdb"></div>
            </div>     
        </div>     
    </div>
</div>
