@{
    ViewBag.Title = "2085";
}

@{Html.RenderAction("WebsiteMenu", "menu", new { menuSliderPartialView = "_MenuSliderPartial", partialView = "_MenuProducts-ServicesPartial", showSlider = false });}

<div class="content">

    <h2>products - terminals - nurit - 2085</h2>    


</div>


