@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <meta name="viewport" content="width=device-width" />
    <title>PaymentWorld</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <div>
        <img class="img-responsive center-block" alt="Poynt Terminal" src="/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/poynt-5008-header.jpg" />
        <br />
        <br />
        <a href="mailto:elena@paymentworld.com">
            <img class="img-responsive center-block" alt="Poynt Terminal" src="/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/poynt-5008-contact-2.jpg" />
        </a>        
        <br />
        <img class="img-responsive center-block" alt="Poynt Terminal" src="/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/poynt-5008-body-1.jpg" />
        <br />
        <br />
        <a href="mailto:elena@paymentworld.com">
            <img class="img-responsive center-block" alt="Poynt Terminal" src="/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/poynt-5008-contact-3.jpg" />
        </a> 
        <br />
        <br />
        <img class="img-responsive center-block" alt="Poynt Terminal" src="/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/poynt-5008-footer.jpg" />
        <br />
        <br />
        <a href="mailto:elena@paymentworld.com">
            <img class="img-responsive center-block" alt="Poynt Terminal" src="/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/poynt-5008-contact-3.jpg" />
        </a> 
        <br />
        <br />
        <img class="img-responsive center-block" alt="Poynt Terminal" src="/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/poynt-5008-footer-2.jpg" />
        <br />
    </div>
</body>
</html>
