@{
    ViewBag.Title = "WHY US";    
}

@{Html.RenderAction("WebsiteMenu", "menu", new { menuSliderPartialView = "_MenuSlider2Partial", partialView = "_MenuWhy-UsPartial", showSlider = true });}

<div class="content">
    <div class="empty-box"></div>
    <div class="bottomBox">
        <div class="bottomBoxShadow">
            <div class="squareTopleft"></div>
            <div class="shadowTop"></div>
            <div class="squareTopRight"></div>
        </div>
        <!--text title --> 
        <div class="textBox">
             <div class="textBoxOne">
                  <div class="textBoxOnea"></div>
                  <div class="textBox-Second-format">WHY US</div>
                  <div class="textBoxThirdb"></div>           
             </div>   
        </div>
        <div class="horizontal"></div>
        <!--end text title --> 
        <div class="bottomBoxEntry">
        <div class="bottomBoxEntryOne">
            <div class="bottomBoxEntryOnea"></div>
            <div class="entry-second-format">
                Give your business every chance to succeed.  Leverage PW’s product offering to maximize your revenues!  Trying to build brand name recognition?  Want to increase customer
                 loyalty?  Looking for a cash infusion to kickstart your business?  PW offers products that are built and supported in house at industry low prices.  
                 Call us today to inquire about offers that may be available  to you! <br /><br />
                 At PW we take great pride in our relationships with our merchants.  We understand that your business is your lifeline and that you need more than a merchant account service provider, you need a support system.  Our goal is to take the ambiguity out of merchant processing by educating our merchants on the many nuances involved in the transaction process.   Our staff of industry professionals invites you to call for any questions or assistance.  Put our team to work for you and realize the PW difference!  Thank you again for choosing PW.    
            </div>
            <div class="bottomBoxEntryThirdb"></div> 
        </div>
        </div>
    </div>
</div>
