@{
    ViewBag.Title = "LEARNING & RESOURCES";
}

@{Html.RenderAction("WebsiteMenu", "menu", new { menuSliderPartialView = "_MenuSlider2Partial", partialView = "_MenuLearning-ResourcesPartial", showSlider = true });}


<div class="content">
    <div class="bottomBox">
      <div class="bottomBoxShadow">
          <div class="squareTopleft"></div>
          <div class="shadowTop"></div>
          <div class="squareTopRight"></div>
      </div>
      <!--text title --> 
       <div class="textBox">
           <div class="textBox-four-format-left">
               <div class="textBoxOnea"></div>
               <div class="textBox-four-format-left-a">LEARNING RESOURCES & PROCESSING SOLUTIONS</div>
               <div class="textBoxOnec"></div>           
           </div>
           <div class="textBoxThird">
            <div class="textBoxThirda">LEARNING RESOURCES</div>
            <div class="textBoxThirdb"></div>
           </div>      
      </div>
      <div class="horizontal"></div>
      <!--end text title --> 
      <div class="bottomBoxEntry">
          <div class="entrybox-four-format-left">
             <div class="bottomBoxEntryOnea"></div>
                  <div class="entrybox-four-format-left-a">The Site is provided to you on an "AS IS" and "WITH ALL FAULTS" basis. You assume the entire risk of loss in using the Site. 
               Due to its large size and complexity, the Site may contain inaccuracies, omissions, errors or other defects. PaymentWorld.com and its suppliers do not warrant 
               that the Site will meet your needs or expectations, that the Site will be error free or uninterrupted, that errors can or will be corrected, that the Site is reliable
                or timely, or that any information on the Site will provide any particular results or usefulness. PaymentWorld.com and its suppliers reserve the right to make 
                changes and improvements to, or discontinue the Site or any part thereof. Further, PaymentWorld.com does not represent that the Site is appropriate or authorized 
                for use in all countries, states, counties or other jurisdictions; accordingly, you are responsible for compliance with all applicable laws in accessing the Site. 
                PaymentWorld.com reserves the right to list any property which, in PaymentWorld.com sole judgment, meets the general requirements of the "bed                         
                  </div>
                 <div class="bottomBoxEntryOnec"></div> 
          </div>          
          <div class="bottomBoxEntryThird">
                <div class="entrybox-four-format-right">Payment World takes privacy and data protection issues seriously. We have designed this Privacy Policy to 
             explain how we handle personally identifiable information collected from merchants who register for services and submit information to Payment World 
             through the Internet. As the Payment World services evolve, we may revise this policy, so please check back frequently. If you have questions about 
             Payment World privacy practices please contact us </div>
                <div class="bottomBoxEntryThirdb"></div>
          </div>      
      </div>     
     
    </div>
</div>

